html{
    cursor: url('icon/circle-round-black-fill-44581.png');
}
*{
    background-color: cornsilk;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    background-color: rgb(177, 172, 152);
    border-radius: 5px;
    padding: 14px;
    padding-top: 25px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#play-box{
    background-color: rgb(119, 115, 102);
    border-radius: 5px;
    width: 120px;
    height: 115px;
    margin: 2px;
    border: none;
}

#play-box:hover{
    background-color: rgb(151, 146, 128);

}


.fa-times{
    font-size: 120px;
    background-color: rgb(119, 115, 102);
}

.fa-times:hover{
    background-color: rgb(151, 146, 128);
}

.fa-circle{
    font-size: 90px;
    background-color: rgb(119, 115, 102);
}

.fa-circle:hover{
    background-color: rgb(151, 146, 128);
}